@use '../abstracts' as *;

.topbar {
  --topbar-padding-block-start: #{fluid(40, 20)};

  position: sticky;
  top: calc(var(--topbar-padding-block-start) * (-0.75));
  z-index: 100;
  padding-block-start: var(--topbar-padding-block-start);
  &.scroll {
    .container {
      box-shadow: 0 0 0.5rem 0 var(--primary-color);
    }
  }

  .container {
    padding: fluid(24, 20) fluid(40, 20);
    background-color: var(--cream-lite-color);
    border-radius: toRem(60);
    transition: box-shadow var(--transition-duration)
      var(--transition-timing-function);
  }
}

.nav {
  &-desktop,
  &-mobile {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: toRem(30);
    @include breakpoint-lg-down {
      grid-template-columns: 1fr auto;
    }
  }

  &-desktop {
    > :last-child {
      justify-content: end;
    }

    @include breakpoint-lg-down {
      display: none;
    }
  }

  &-mobile {
    @include breakpoint-lg-up {
      display: none;
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: toRem(20);
    position: fixed;
    inset: 0;
    padding: var(--topbar-height, 0) var(--container-padding-x) toRem(40);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    text-align: center;
    background-color: var(--cream-lite-color);
    transition: opacity var(--transition-duration)
        var(--transition-timing-function),
      visibility var(--transition-duration) var(--transition-timing-function);
    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: var(--topbar-height, 0);
      background-color: inherit;
    }

    .menu-open & {
      opacity: 1;
      visibility: visible;
    }
  }

  &-brand {
    justify-self: center;
    position: relative;
    z-index: 1;
    @include breakpoint-lg-down {
      justify-self: start;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: toRem(8) toRem(32);
    font-size: fluid(20, 18, $viewportMaxWidth, 992);
    font-weight: 500;
    color: var(--primary-color);
    @include breakpoint-lg-down {
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      row-gap: toRem(16);
      font-size: toRem(30);
    }
  }

  &-link {
    padding-block: toRem(5);
    @include hover {
      color: var(--accent-color);
    }
  }

  &-button {
    padding: toRem(18) toRem(30);
    font-size: toRem(20);
  }

  &-toggle-button {
    @include hamburger-button;
  }
}
