@use "../abstracts" as *;

.topbar {
	padding-block-start: toRem(40);
	&-nav {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		align-items: center;
		gap: toRem(30);
		padding: toRem(24) toRem(40);
		color: var(--primary-color);
		background-color: var(--cream-lite-color);
		border-radius: toRem(60);
		> :last-child {
			justify-self: end;
		}
	}
}

.nav {
	&-brand {
		display: inline-flex;
		align-items: center;
		justify-self: center;
		gap: toRem(12);
		font-size: toRem(18);
		font-weight: 500;
		@include hover {
			color: var(--accent-color);
		}
	}

	&-list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: toRem(32);
		font-size: toRem(20);
		font-weight: 500;
	}

	&-link {
		padding-block: toRem(5);
		@include hover {
			color: var(--accent-color);
		}
	}
}
