@use '../abstracts' as *;

.topbar {
  padding-block-start: fluid(40, 20);
  .container {
    padding: fluid(24, 20) fluid(40, 20);
    background-color: var(--cream-lite-color);
    border-radius: toRem(60);
  }
}

.nav {
  &-desktop,
  &-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(30);
  }

  &-desktop {
    > :last-child {
      justify-content: end;
    }

    @include breakpoint-lg-down {
      display: none;
    }
  }

  &-mobile {
    @include breakpoint-lg-up {
      display: none;
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: toRem(20);
    position: fixed;
    inset: 0;
    padding: var(--topbar-height, 0) var(--container-padding-x) toRem(40);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    text-align: center;
    background-color: var(--cream-lite-color);
    transition:
      opacity var(--transition-duration) var(--transition-timing-function),
      visibility var(--transition-duration) var(--transition-timing-function);
    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: var(--topbar-height, 0);
      background-color: inherit;
    }

    .menu-open & {
      opacity: 1;
      visibility: visible;
    }

    .button {
      padding: toRem(18) toRem(30);
      font-size: toRem(20);
    }
  }

  &-brand {
    flex-shrink: 0;
    position: relative;
    z-index: 1;
  }

  &-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: toRem(8) toRem(32);
    font-size: fluid(20, 18, $viewportMaxWidth, 992);
    font-weight: 500;
    color: var(--primary-color);
    @include breakpoint-lg-down {
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      row-gap: toRem(16);
      font-size: toRem(30);
    }
  }

  &-link {
    padding-block: toRem(5);
    @include hover {
      color: var(--accent-color);
    }
  }

  &-toggle-button {
    @include hamburger-button;
  }
}
