@use "../abstracts" as *;

.topbar {
	padding-block-start: toRem(40);
	&-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(30);
		padding: toRem(24) toRem(40);
		color: var(--primary-color);
		background-color: var(--cream-lite-color);
		border-radius: toRem(60);
		> :last-child {
			justify-content: end;
		}
	}
}

.nav {
	&-brand {
		flex-shrink: 0;
	}

	&-list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: toRem(8) toRem(32);
		font-size: fluid(20, 18, $viewportMaxWidth, 992);
		font-weight: 500;
	}

	&-link {
		padding-block: toRem(5);
		@include hover {
			color: var(--accent-color);
		}
	}
}
