@use '../abstracts' as *;

.button {
  display: inline-flex;
  align-items: center;
  gap: toRem(10);
  padding: fluid(18, 14) fluid(22, 18);
  border: 1px solid;
  font-size: fluid(18, 16);
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  border-radius: 100vmax;
  transition-property: color, border-color, background-color;
  &-primary {
    color: var(--light-color);
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    @include hover {
      border-color: var(--gray-dark-color);
      background-color: var(--gray-dark-color);
    }
  }

  &-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
    @media (any-hover: hover) {
      &:hover {
        color: var(--light-color);
        background-color: var(--primary-color);
      }
    }
  }

  &-small {
    padding: toRem(8) toRem(14);
  }
}
