@use '../abstracts' as *;

.event-card {
  position: relative;
  width: 700px;
  margin-block-end: 10px;
  padding: toRem(20);
  border-radius: toRem(16);
  background-color: var(--light-color);
  &-image-wrap {
    margin-block-end: toRem(20);
    img {
      aspect-ratio: 660 / 409;
      border-radius: toRem(16);
    }
  }

  &-content {
    display: grid;
    grid-template-columns: fit-content(toRem(495)) fit-content(toRem(100));
    align-items: end;
    justify-content: space-between;
    gap: fluid(24, 12);
  }

  &-left {
    display: grid;
    justify-items: start;
    row-gap: toRem(8);
  }

  &-right {
    display: flex;
    flex-direction: column;
    row-gap: toRem(4);
  }

  &-badge {
    margin-inline-start: toRem(-2);
    padding: toRem(8) toRem(12);
    font-weight: 700;
    color: var(--primary-color);
    border-radius: toRem(24);
    background-color: var(--cream-color);
  }

  &-price {
    font-size: toRem(40);
    font-weight: 700;
    line-height: 1.2;
    color: #2b2b2b;
    &-label {
      font-size: toRem(14);
      font-weight: 500;
    }
  }
}
