@use '../abstracts' as *;

.feature-card {
  position: relative;
  overflow: hidden;
  border-radius: toRem(16);
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
  &-wide,
  &-tight,
  &-video {
    display: grid;
    isolation: isolate;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
    }

    @include hover {
      opacity: 0.9;
      .feature-card-image-wrap img {
        scale: 1.1;
      }
    }

    @include breakpoint-lg-down {
      .feature-card-image-wrap img {
        aspect-ratio: 362 / 260;
      }
    }
  }

  &-wide,
  &-tight {
    .feature-card-content {
      display: flex;
      justify-content: space-between;
      gap: toRem(16);
    }
  }

  &-wide,
  &-video {
    &::before {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.6) 100%
      );
    }
  }

  &-wide {
    .feature-card-content {
      align-self: end;
      align-items: center;
    }
  }

  &-tight {
    &::before {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0) 60%
      );
    }

    .feature-card-content {
      flex-direction: column;
    }
  }

  &-info {
    background-color: #d3f5fe;
    .feature-card-title {
      margin-block-end: fluid(20, 12);
      color: var(--primary-color);
    }

    @include breakpoint-sm-down {
      text-align: center;
    }
  }

  &-video {
    .feature-card-content {
      display: grid;
      place-content: center;
    }
  }

  &-image-wrap,
  &-content {
    grid-area: 1 / 1;
  }

  &-image-wrap {
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      scale: 1.001;
      transition: scale var(--transition-duration)
        var(--transition-timing-function);
    }
  }

  &-content {
    z-index: 1;
    padding: toRem(20);
  }

  &-title {
    color: var(--light-color);
  }

  &-supporting-text {
    font-size: fluid(18, 14);
    font-weight: 500;
  }

  &-icon {
    display: inline-grid;
    place-content: center;
    flex-shrink: 0;
    width: toRem(40);
    height: toRem(40);
    color: var(--light-color);
    border-radius: 50%;
    background-color: var(--accent-color);
  }
}
