@use '../abstracts' as *;

.feature-card {
  position: relative;
  overflow: hidden;
  border-radius: toRem(16);
  @include breakpoint-lg-down {
    grid-column: span 6;
    height: 100%;
  }

  &-layout-bottom,
  &-layout-spread {
    .feature-card-content {
      display: flex;
      justify-content: space-between;
      gap: toRem(16);
    }
  }

  &-layout-bottom,
  &-video {
    &::before {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 79%,
        rgba(0, 0, 0, 0.6) 100%
      );
    }
  }

  &-layout-bottom {
    .feature-card-content {
      align-self: end;
      align-items: center;
    }
  }

  &-layout-spread {
    &::before {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0) 35.7%
      );
    }

    .feature-card-content {
      flex-direction: column;
    }
  }

  &-cover {
    display: grid;
    isolation: isolate;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
    }

    @include hover {
      .feature-card-image {
        scale: 1.1;
      }
    }

    @include breakpoint-lg-down {
      .feature-card-image {
        aspect-ratio: 362 / 260;
      }
    }
  }

  &-info {
    background-color: #d3f5fe;
    .feature-card-title {
      margin-block-end: fluid(20, 12);
      color: var(--primary-color);
    }
  }

  &-video {
    .feature-card-content {
      display: grid;
      place-content: center;
    }
  }

  &-image-wrap,
  &-content {
    grid-area: 1 / 1;
  }

  &-image {
    width: 100%;
    height: 100%;
    scale: 1.001;
    transition: var(--transition-duration) var(--transition-timing-function)
      scale;
    &-wrap {
      z-index: -1;
    }
  }

  &-content {
    z-index: 1;
    padding: toRem(20);
    text-align: left;
  }

  &-title {
    color: var(--light-color);
  }

  &-description {
    font-size: fluid(18, 14);
    font-weight: 500;
  }

  &-icon {
    display: inline-grid;
    place-content: center;
    flex-shrink: 0;
    width: toRem(40);
    height: toRem(40);
    color: var(--light-color);
    border-radius: 50%;
    background-color: var(--accent-color);
  }
}
