@use 'functions' as *;
@use 'media-queries' as *;

@mixin sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@mixin hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: toRem(40);
  height: toRem(30);
  padding: toRem(5);
  transition: rotate var(--transition-duration)
    var(--transition-timing-function);
  @include hover {
    color: var(--primary-color);
  }

  .menu-open & {
    rotate: -45deg;
    &::before {
      translate: 0 toRem(9);
      rotate: -90deg;
    }

    &::after {
      opacity: 0;
    }
  }

  &::before,
  &::after,
  span {
    width: 100%;
    height: toRem(2);
    background-color: currentColor;
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);
  }

  &::before,
  &::after {
    content: '';
  }

  &::before {
    transition: translate var(--transition-duration)
        var(--transition-timing-function),
      rotate var(--transition-duration) var(--transition-timing-function);
  }

  &::after {
    transition: opacity var(--transition-duration)
      var(--transition-timing-function);
  }
}
