@use '../abstracts' as *;

.faq {
  padding-block: var(--section-padding-y-sm);
  &-title {
    max-width: toRem(608);
    margin: 0 auto fluid(40, 32);
    text-align: center;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: fluid(40, 32);
    @include breakpoint-md-down {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &-image-wrap {
    img {
      width: 100%;
      aspect-ratio: 503 / 580;
      border-radius: toRem(16);
    }

    @include breakpoint-md-up {
      flex-basis: toRem(503);
    }
  }

  .accordion {
    @include breakpoint-md-up {
      flex-basis: toRem(590);
    }
  }
}
