@use '../abstracts' as *;

.feature {
  &-section {
    background-color: var(--cream-lite-color);
    .container {
      --row-gap: #{fluid(52, 24)};
    }

    .section-subtitle {
      color: var(--primary-color);
      @include breakpoint-md-up {
        grid-column: 8 / -1;
      }
    }
  }

  &-title {
    @include breakpoint-md-up {
      grid-column: 1 / 7;
    }
  }

  &-cards {
    align-items: start;
    grid-column: 1 / -1;
    gap: fluid(24, 20);
  }
}
