@use '../abstracts' as *;

.hero {
  &-section {
    .container {
      gap: fluid(40, 20) fluid(24, 20);
    }

    .section-subtitle {
      margin-block-end: fluid(24, 20);
    }
  }

  &-image {
    width: 100%;
    aspect-ratio: 1200 / 500;
    border-radius: toRem(24);
    @include breakpoint-xs-down {
      aspect-ratio: 362 / 280;
    }
  }
}
