@use '../abstracts' as *;

.hero {
  padding-block: var(--section-padding-y-sm);
  &-container {
    display: grid;
    grid-template-columns: 1fr 32%;
    align-items: center;
    gap: fluid(40, 20) fluid(24, 20);
    @include breakpoint-md-down {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  &-subtitle {
    margin-block-end: fluid(24, 20);
  }

  &-image-wrap {
    grid-column: 1 / -1;
    img {
      width: 100%;
      aspect-ratio: 1240 / 500;
      border-radius: toRem(24);
      @include breakpoint-xs-down {
        aspect-ratio: 362 / 280;
      }
    }
  }
}
