@use '../abstracts' as *;

.hero {
  &-section {
    .container {
      --row-gap: #{fluid(40, 20)};
      align-items: center;
    }

    .section-subtitle {
      margin-block-end: fluid(24, 20);
    }
  }

  &-image {
    grid-column: 1 / -1;
    img {
      width: 100%;
      aspect-ratio: 1240 / 500;
      border-radius: toRem(24);
      @include breakpoint-xs-down {
        aspect-ratio: 362 / 280;
      }
    }
  }
}
