@use '../abstracts' as *;

.mission {
  padding-block: var(--section-padding-y-lg);
  &-container {
    display: grid;
    grid-template-columns: fit-content(toRem(608)) fit-content(toRem(503));
    align-items: center;
    justify-content: space-between;
    gap: fluid(40, 20);
    @include breakpoint-md-down {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  &-image-wrap {
    img {
      width: 100%;
      aspect-ratio: 503 / 500;
      border-radius: toRem(16);
      @include breakpoint-xs-down {
        aspect-ratio: 362 / 280;
      }
    }

    @include breakpoint-md-down {
      order: -1;
    }
  }
}
