@use '../abstracts' as *;

.mission {
  &-section {
    .container {
      align-items: center;
    }

    .section-content {
      @include breakpoint-md-up {
        grid-column: 1 / 7;
      }
    }
  }

  &-image {
    img {
      width: 100%;
      aspect-ratio: 503 / 500;
      border-radius: toRem(16);
      @include breakpoint-xs-down {
        aspect-ratio: 362 / 280;
      }
    }

    @include breakpoint-md-up {
      grid-column: 8 / -1;
    }

    @include breakpoint-md-down {
      order: -1;
    }
  }
}
