@use '../abstracts' as *;

.testimonials {
  padding-block: var(--section-padding-y-sm);
  background-color: var(--cream-lite-color);
  &-container {
    display: grid;
    grid-template-columns: fit-content(toRem(397)) fit-content(toRem(726));
    align-items: start;
    justify-content: space-between;
    gap: fluid(40, 20);
  }

  .section-supporting-text {
    margin-block-end: fluid(50, 20);
  }
}
