@use 'abstracts' as *;

.padding-block-80 {
  padding-block: toRem(80);
}

.padding-block-120 {
  padding-block: toRem(120);
}

.container {
  width: min(
    var(--container-max-width),
    100% - (var(--container-padding-x) * 2)
  );
  margin-inline: auto;
}

.sr-only {
  @include sr-only;
}

.stretched-link {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
  }
}

.brand {
  display: inline-flex;
  align-items: center;
  gap: toRem(12);
  padding-block: toRem(5);
  font-size: toRem(18);
  font-weight: 500;
  color: var(--primary-color);
  @include hover {
    color: var(--accent-color);
  }
}

.section {
  &-intro,
  &-intro-split {
    display: grid;
    gap: fluid(24, 20);
  }

  &-intro {
    justify-items: start;
    &-split {
      justify-content: space-between;
    }
  }

  &-subtitle {
    font-size: fluid(24, 18);
    font-weight: 500;
  }

  &-supporting-text {
    font-size: fluid(20, 16);
    font-weight: 500;
  }
}
