@use "abstracts" as *;

.container {
	width: min(var(--container-max-width), 100% - (var(--container-padding-x) * 2));
	margin-inline: auto;
}

.stretched-link {
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		z-index: 1;
	}
}

.section-head {
	display: grid;
	justify-items: start;
	row-gap: toRem(24);
}

.section-subtitle {
	font-size: fluid(24, 18);
	font-weight: 500;
}

.section-text {
	font-size: fluid(20, 16);
	font-weight: 500;
}
