@use 'abstracts' as *;

[class*='container'] {
  width: min(
    var(--container-max-width),
    100% - (var(--container-padding-x) * 2)
  );
  margin-inline: auto;
}

.sr-only {
  @include sr-only;
}

.stretched-link {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
  }
}

.brand {
  display: inline-flex;
  align-items: center;
  gap: toRem(12);
  padding-block: toRem(5);
  font-size: toRem(18);
  font-weight: 500;
  color: var(--primary-color);
  @include hover {
    color: var(--accent-color);
  }
}

.section {
  &-content {
    display: grid;
    justify-items: start;
    row-gap: fluid(24, 20);
    @include breakpoint-md-down {
      justify-items: center;
    }
  }

  &-subtitle {
    font-size: fluid(24, 18);
    font-weight: 500;
  }

  &-supporting-text {
    font-size: fluid(20, 16);
    font-weight: 500;
  }
}
