@use 'abstracts' as *;

.container {
  width: min(
    var(--container-max-width),
    100% - (var(--container-padding-x) * 2)
  );
  margin-inline: auto;
}

.sr-only {
  @include sr-only;
}

.stretched-link {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
  }
}

.brand {
  display: inline-flex;
  align-items: center;
  gap: toRem(12);
  padding-block: toRem(5);
  font-size: toRem(18);
  font-weight: 500;
  color: var(--primary-color);
  @include hover {
    color: var(--accent-color);
  }
}

.section {
  &-subtitle {
    font-size: fluid(24, 18);
    font-weight: 500;
  }

  &-supporting-text {
    font-size: fluid(20, 16);
    font-weight: 500;
  }
}

.text-center {
  text-align: center;
  &-md {
    @include breakpoint-md-down {
      text-align: center;
    }
  }
}

.grid-columns-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  @include breakpoint-md-down {
    grid-template-columns: 1fr;
  }
}

.grid-column {
  &-full {
    grid-column: 1 / -1;
  }

  &-span-2 {
    grid-column: span 2;
  }

  &-span-3 {
    grid-column: span 3;
  }

  &-span-4 {
    grid-column: span 4;
  }

  &-span-8 {
    grid-column: span 8;
  }

  &-span-2,
  &-span-3,
  &-span-4,
  &-span-8 {
    @include breakpoint-md-down {
      grid-column: 1 / -1;
    }
  }
}

.padding-block {
  &-80 {
    padding-block: fluid(80, 20);
  }

  &-120 {
    padding-block: fluid(120, 40);
  }
}
