@use 'abstracts' as *;

:root {
  --light-color: #ffffff;
  --primary-color: #161616;
  --gray-dark-color: #454444;
  --accent-color: #ed952b;
  --cream-color: #fbf1d6;
  --cream-lite-color: #fefcf7;

  --font-family-base: 'Manrope', sans-serif;

  --transition-duration: 0.2s;
  --transition-timing-function: ease-in-out;

  --container-max-width: #{toRem(1240)};
  --container-padding-x: #{toRem(16)};

  --section-padding-y-sm: #{fluid(80, 40)};
  --section-padding-y-lg: #{fluid(120, 40)};
}
